{% extends 'mkulima/base.html' %}
{% load static %}
{% load filters %}

{% block usergroup %}
    admin
{% endblock %}

{% block items %}
    <a href={% url 'administrator' %} class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-users me-2"></i>Users</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href={% url 'userargonomist' %} class="dropdown-item">Argonomist</a>
            <a href={% url 'usergatherman' %} class="dropdown-item">Gatherman</a>
        </div>
    </div>
    <a href={% url 'testandrecomms' %} class="nav-item nav-link text-nowrap"><i class="fa fa-vial me-2"></i>Tests & Recom..</a>
    <a href={% url 'farms' %} class="nav-item nav-link text-nowrap active"><i class="fa fa-tree me-2"></i>Farms</a>
    <a href={% url 'farmersreport' %} class="nav-item nav-link text-nowrap"><i class="fa fa-id-card me-2"></i>Farmers</a>

    {% comment %} <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="fa fa-book me-2"></i>Informations</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="" class="dropdown-item active">Farms</a>
        </div>
    </div> {% endcomment %}

    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-bookmark me-2"></i>Reports</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href={% url 'cropsreport' %} class="dropdown-item">General</a>
            <a href={% url 'farmsreport' %} class="dropdown-item">Farms</a>
            {% comment %} <a href={% url 'farmersreport' %} class="dropdown-item">Farmers</a> {% endcomment %}
        
            <a href={% url 'recommendedcrops' %} class="dropdown-item">Crops</a>
            <a href={% url 'fertlizerreport' %} class="dropdown-item">Fertilizers</a>
            <a href={% url 'yieldreport' %} class="dropdown-item">Yield and Productions</a>
            <a href={% url 'seedamount' %} class="dropdown-item">Seeds</a>
            <a href={% url 'soilreport' %} class="dropdown-item">Soil</a>
            <a href={% url 'cultivation' %} class="dropdown-item">Cultivation</a>
        </div>
    </div>

    {% comment %} <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-th me-2"></i>Other</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="" class="dropdown-item">Edit Profile</a>
            <a href="" class="dropdown-item">Change Password</a> 
            <a href="" class="dropdown-item">Logs & Actions</a>
        </div>
    </div> {% endcomment %}
{% endblock items %}


{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="col-12" style="margin-bottom: 15px">
        <div style="background-color: #fff" class="rounded h-100 p-4">
            <div class="d-flex" style="justify-content: space-between">
                <h6 style="color: #6c7293;" class="mb-4 fst-italici" style="font-weight: bold">FARMS</h6>
                <form method="POST" id="deletegatherman">
                    {% csrf_token %}
                    <input type="hidden" name="profileids" id="idsinput" />
                    {% comment %} <a href="" id="submitlink" class="text-success fst-italici">Delete selected</a> {% endcomment %}
                </form>
            </div>
            {% if idadi > 0 %}
            <table class="table" id="tableView">
                <thead>
                    <tr>
                        <th scope="col" class="text-start">Owner</th>
                        <th scope="col" class="text-start">Location</th>
                        <th scope="col" class="text-center">Is Assessed</th>
                        <th scope="col" class="text-start">Size (m<sup>2</sup> / hectras) </th>
                        <th scope="col" class="text-center">Registered at</th>
                        <th scope="col" class="text-center">View</th>

                    </tr>
                </thead>
                <tbody>
                    {% for farm in farms %}
                    <tr>
                        {% comment %} <td class='text-uppercase text-success' style="font-weight: bold; display:flex; align-items: center">
                            <input class="form-check-input" type="checkbox">
                            <a class="text-success" href={% url 'editrecord' rid=farm.farm_metadata.id %}><span title="{{farm.id}}" style="cursor: pointer; " class="mx-2 text-uppercase">{{farm.farm_metadata.owner.full_name}}</span></a>
                        </td> {% endcomment %}
                        <td>
                            <a href={% url 'viewfarmerinfo' fid=farm.farm_metadata.owner.id %}>
                                <span data_farmer_id="{{farm.farm_metadata.owner.id}}" style="font-weight: bold; cursor: pointer;" data_farm_id="{{report.farm.id}}" class="text-uppercase text-success popUpFarmerBio">
                                    {{farm.farm_metadata.owner.full_name}}
                                </span>
                            </a>
                        </td>
                        <td class="text-start text-uppercase">{{farm.region}}, {{farm.district}}</td>
                        <td class="text-center"> 
                        {% if farm.report.count > 0 %} True {% else %} False {% endif %}
                        {% comment %} <td class="text-center">{{farm.pragrammed_farmsize | computeonlyhectras}}</td> {% endcomment %}
                        <td class="text-start">
                            <small>{{farm.pragrammed_farmsize | roundmetersquare }}</small> /
                            <small> {% with sizeinhectras=farm.pragrammed_farmsize|computeonlyhectras %} {{sizeinhectras}} {% endwith %}</small>
                        </td>
                        <td class="text-center">{{farm.farm_metadata.added_on | formatdatetime}}</td>
                        {% comment %} <td class="text-center"><a class="btn btn-sm btn-success" href={% url 'editrecord' rid=farm.farm_metadata.id %}>View</a></td> {% endcomment %}
                        <td class="text-center"><a class="btn btn-sm btn-success" href={% url 'shamba_info' fid=farm.id %}>View</a></td>

                        
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No farms found here</p>
            {% endif %}
        </div>
    </div>
    </div>
</div>
{% comment %} 
<script src={% static 'administrator/js/delete_gathers.js' %}>
</script> {% endcomment %}
{% endblock content %}

{% block datatablelogic %}
        <script>
            $(document).ready(function() {
                $('#tableView').DataTable( {
                    "aLengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    dom: 'Bfrtip', 
                    buttons: [{
                        extend: 'csv',
                        className: 'btn btn-default',
                        exportOptions: {
                            columns: 'th:not(:last-child)'
                        }
                    },
                    {
                        extend: 'excel',
                        className: 'btn btn-default',
                        exportOptions: {
                            columns: 'th:not(:last-child)'
                        }
                    },
                    /*{
                        extend: 'pdf',
                        className: 'btn btn-default',
                        exportOptions: {
                            columns: 'th:not(:last-child)'
                        }
                    },*/
                    {
                        extend: 'print',
                        className: 'btn btn-default',
                        exportOptions: {
                            columns: 'th:not(:last-child)'
                        }
                    }
                    ],
                } );
            } );
          
        </script>
{% endblock datatablelogic %}

{% block myscript %}
    <script>
        // fetch the farmer data... 
        let farmerspans = document.getElementsByClassName("popUpFarmerBio")
        var isPreviewStillHoverred = false

        function fetchFarmerDetails(id) {
            var domain = "http://147.182.138.184"

            return fetch(`${domain}/api/farmerbio/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{csrf_token}}'
                },
                body: JSON.stringify({id:id})
            }).then(response => response.json())
        }

        function removeFarmerLoader() {
            let loaders = document.getElementsByClassName("farmerloader")
            for (let i=0; i < loaders.length; i++) {
                if (loaders[i]) {
                    loaders[i].remove()
                }
            }
        }


        for (let i=0; i < farmerspans.length; i++) {
            farmerspans[i].id = `farmerspanhandler${i}`

            farmerspans[i].addEventListener('mouseover', (e) => {
                // display loading  
                img = document.createElement("img")
                img.src = "{% static 'mkulima/images/loader.gif' %}"
                img.style.width = "20px"
                img.className = "farmerloader"
                e.target.appendChild(img)

                // then we try to fetch in our api.. https://stackoverflow.com/questions/1735230/can-i-add-a-custom-attribute-to-an-html-tag
                farmer_id = e.target.getAttribute('data_farmer_id')
                
                fetchFarmerDetails(farmer_id)
                    .then(data => { 
                        console.log('data ', data)
                        data = data
                            // if there is element which is previewed then don't create a new preview
                            if (isPreviewStillHoverred) {
                                return
                            }
                            
                            bioDiv = document.createElement("div")
                            metadatabase = document.createElement("div")

                            profileimg = document.createElement('img')
                            profileimg.src = `http://147.182.138.184${data.profile_pic}`
                            profileimg.style.width = "100px"
                            profileimg.style.height = "100px"
                            profileimg.style.borderRadius = "50%"

                            // Argonomist name div...
                            metadataDiv1 = document.createElement('div')
                            metadataDiv1.style.fontWeight = "bold"
                            metadataDiv1.style.className = "mb-2"
                            labelspan = document.createElement('span')
                            labelspan.innerText = "Name:"
                            valuespan = document.createElement('span')
                            valuespan.className = "text-uppercase mx-2"
                            valuespan.innerText = `${data.full_name}`
                            metadataDiv1.appendChild(labelspan)
                            metadataDiv1.appendChild(valuespan)

                            // argonomist location 
                            metadataDiv3 = document.createElement('div')
                            metadataDiv3.style.fontWeight = "bold"
                            metadataDiv3.style.className = "mb-2"
                            labelspan3 = document.createElement('span')
                            labelspan3.innerText = "Location:"

                            valuespan3 = document.createElement('span')
                            valuespan3.className = "text-uppercase mx-2"
                            valuespan3.innerText = `${data.location}`
                            metadataDiv3.appendChild(labelspan3)
                            metadataDiv3.appendChild(valuespan3)

                            // argonomist phone number 
                            metadataDiv2 = document.createElement('div')
                            metadataDiv2.style.fontWeight = "bold"
                            metadataDiv2.style.className = "mb-2"
                            labelspan2 = document.createElement('span')
                            labelspan2.innerText = "Phone:"
                            valuespan2 = document.createElement('span')
                            valuespan2.className = "text-uppercase mx-2"
                            valuespan2.innerText = `${data.phone}`
                            metadataDiv2.appendChild(labelspan2)
                            metadataDiv2.appendChild(valuespan2)

                            // argonomist number of records 
                            metadataDiv4 = document.createElement('div')
                            metadataDiv4.style.fontWeight = "bold"
                            metadataDiv4.style.className = "mb-2"
                            labelspan4 = document.createElement('span')
                            labelspan4.innerText = "Total Farms:"
                            valuespan4 = document.createElement('span')
                            valuespan4.className = "text-uppercase mx-2"
                            valuespan4.innerText = `${data.noOfFarms}`
                            metadataDiv4.appendChild(labelspan4)
                            metadataDiv4.appendChild(valuespan4)

                            // append them in metadata base 
                            metadatabase.appendChild(metadataDiv1)
                            metadatabase.appendChild(metadataDiv3)
                            metadatabase.appendChild(metadataDiv2)
                            metadatabase.appendChild(metadataDiv4)
                            metadatabase.className = "mx-2"
                            
                            
                            bioDiv.style.display="flex"
                            bioDiv.style.alignItems = "center"
                            bioDiv.style.justifyContent = "start"
                            bioDiv.appendChild(profileimg)
                            // lets add them in biod div...
                            bioDiv.appendChild(metadatabase)


                            previewElem = document.createElement("div")
                            // previewElem.style.zIndex = 8
                            previewElem.style.width = "350px"
                            previewElem.style.height = "150px"
                            previewElem.style.border = "2px solid grey"
                            previewElem.style.background = "#fff"
                            previewElem.className = "farmerpreview"

                            previewElem.style.display = "flex"
                            previewElem.style.justifyContent = "center"
                            previewElem.style.alignItems = "center"
                            
                            // append them in previewElem 
                            previewElem.appendChild(bioDiv)

                            distancebetweenbottomofviewedwindowtobottomofelement = window.innerHeight - e.target.getBoundingClientRect().bottom

                            // execute logic to display that previewdiv

                            if (parseInt(distancebetweenbottomofviewedwindowtobottomofelement) > 300) {
                                dimensions = e.target.getBoundingClientRect()
                                previewElem.style.position = "absolute"
                                previewElem.style.top = (dimensions.bottom + window.scrollY) + "px"
                                previewElem.style.left = (dimensions.left + dimensions.left/4) + "px"
                                
                                /*
                                previewElem.addEventListener('mouseover', (e) => {
                                    previewElem.style.display = "flex"
                                    previewElem.style.justifyContent = "center"
                                    previewElem.style.alignItems = "center"
                                    isPreviewStillHoverred = true
                            
                                    // remove if there is loading..
                                    removeLoader()
                                })
                            
                                previewElem.addEventListener('mouseout', (e) => {
                                    previewElem.style.display = "flex"
                                    previewElem.style.justifyContent = "center"
                                    previewElem.style.alignItems = "center"
                                    // labda ni muhimu kuwa na delay before making it disappear
                                    setTimeout(() => {
                                        isPreviewStillHoverred = false
                            
                                        // kwanini tusi-remove that element hapahapa...
                                        previewElem.remove()
                                    }, 50)
                            
                                    // remove if there is loaders
                                    removeLoader()
                                })
                                */
                                document.body.appendChild(previewElem)
                            
                            }
                            
                            
                            else {
                                dimensions = e.target.getBoundingClientRect()
                                previewElem.style.position = "absolute"
                                previewElem.style.top = (dimensions.top + window.scrollY - 150) + "px"
                                previewElem.style.left = (dimensions.left + dimensions.left/4) + "px"
                                
                                /*
                                previewElem.addEventListener('mouseover', (e) => {
                                    previewElem.style.display = "flex"
                                    previewElem.style.justifyContent = "center"
                                    previewElem.style.alignItems = "center"
                                    isPreviewStillHoverred = true
                            
                                    // remove if there is loader 
                                    removeLoader()
                                })
                            
                                previewElem.addEventListener('mouseout', (e) => {
                                    previewElem.style.display = "none"
                                    setTimeout(() => {
                                        isPreviewStillHoverred = false
                                        previewElem.remove()
                                    }, 50)
                            
                                    // remove if there is loader
                                    removeLoader()
                                })
                                */
                                document.body.appendChild(previewElem)
                            }
                            
                            

                        }
                    )
                
            })
        }


        for (let i=0; i < farmerspans.length; i++) {
            farmerspans[i].addEventListener('mouseout', function removePopup(e) {
                // remove if  there is loaders
                removeFarmerLoader()

                previews = document.getElementsByClassName("farmerpreview")
                for (let j=0; j < previews.length; j++) {
                    
                    setTimeout(() => {
                        if (!isPreviewStillHoverred) {
                                if (previews[j]) {
                                    previews[j].remove()
                                }
                                else {
                                    removePopup(e)
                                }
                        }
                    }, 30)
                    
                }
            })
        }
    </script> 
{% endblock myscript %}

