{% extends 'mkulima/base.html' %}
{% load static %}


{% block usergroup %}
Gatherman 
{% endblock %}


{% block notification %}
    {% if usergroup == "admin" %}
        <div class="nav-item" id="notificationCont">
            <input type="hidden" value="{{idadinotification}}" id="idadiyanotification" />
            <a href={% url 'notificationcenter' %} class="nav-link" id="notification">
                <i class="fa fa-bell noti me-lg-2"></i>
            </a>
        </div>
    {% endif %}
{% endblock notification %}

{% block items %}
    <a href={% url 'gather_full_profile' %} class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
    <a href={% url 'gather_add_record' %} class="text-nowrap nav-item nav-link"><i class="fa fa-book me-2"></i>Records</a>
    <a href= {% url 'viewgatherprofile' gid=gather.id %} class="nav-item nav-link"><i class="fa fa-edit me-2"></i>Edit Profile</a>
    <a href="" class="text-nowrap nav-item nav-link active"><i class="fa fa-lock me-2"></i>Change Password</a>
{% endblock items %}

{% block content %}
<!-- Sign In Start -->
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-6">
            
            <form method="POST" action="#">
                {% csrf_token %}
                    <div style="background: #fff" class="rounded p-4 p-sm-5 my-4 mx-3">
                        <div id="message" style="font-weight: bold; color: red; margin-top: 10px;">
                            <p id='pMessage'>{{message}}</p>
                        </div>
                        
                        <div class="form-floating mb-4">
                            <input style="background: #95D5B2; border: 1px solid #6c7293" autocomplete="new-password" name="password" type="password" class="form-control" id="password" placeholder="Password">
                            <label for="password">Old password</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input style="background: #95D5B2; border: 1px solid #6c7293" name="password1" type="password" class="form-control" id="password1" placeholder="Password">
                            <label for="password1">New Password</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input style="background: #95D5B2; border: 1px solid #6c7293" name="password2" type="password" class="form-control" id="password2" placeholder="Password">
                            <label for="password2">Confirm Password</label>
                        </div>
                       
                        <button type="submit" class="btn btn-success py-3 w-100 mb-4">Confirm Changes</button>
                    </form>
            </div>
        </div>
    </div>
</div>
<script src={% static 'mkulima/js/message.js' %}></script>
{% endblock content %}